@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-foreground;
    background-image: radial-gradient(hsl(var(--foreground) / 0.1) 1px, transparent 1px);
    background-size: 1rem 1rem;
  }
}

@layer base {
  :root {
    --background: 260 50% 98%;
    --foreground: 261 32% 14%;
    --card: 0 0% 100%;
    --card-foreground: 261 32% 14%;
    --popover: 0 0% 100%;
    --popover-foreground: 261 32% 14%;
    --primary: 261 52% 48%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 261 52% 60%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 261 32% 85%;
    --input: 261 32% 85%;
    --ring: 261 52% 48%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 261 32% 14%;
    --foreground: 260 100% 95%;
    --card: 261 32% 18%;
    --card-foreground: 260 100% 95%;
    --popover: 261 32% 14%;
    --popover-foreground: 260 100% 95%;
    --primary: 261 52% 48%;
    --primary-foreground: 260 100% 95%;
    --secondary: 261 32% 22%;
    --secondary-foreground: 260 100% 95%;
    --muted: 261 32% 22%;
    --muted-foreground: 260 100% 75%;
    --accent: 260 100% 87%;
    --accent-foreground: 261 32% 14%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 261 32% 25%;
    --input: 261 32% 25%;
    --ring: 260 100% 87%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
}
